<div  id="border-rad-2" class="p-8 bg-light">
	<div id="border-rad" class="col p-6 mb-8 bg-white border">
    <%= form_with url:interventions_path, model: @intervention do |form| %>

      <%= form.select :employee_id, @employees, {include_blank: 'Please Select An Employee'}, {class:"form-control form-control-lg"}  %>
      <%= form.select :customer_id, @customers, {include_blank: 'Select Customer'}, {class:"form-control form-control-lg"}  %>
      <%= form.select :building_id, [], {include_blank: 'Select Building'}, {class:"form-control form-control-lg"}  %>
      <%= form.select :batterie_id, [], {include_blank: 'Select Battery'}, {class:"form-control form-control-lg"}  %>
      <%= form.select :column_id, [], {include_blank: 'Select Column'}, {class:"form-control form-control-lg"}  %>
      <%= form.select :elevator_id, [], {include_blank: 'Select Elevator'}, {class:"form-control form-control-lg"}  %>
      <%= form.text_area :report, {class:"form-control form-control-lg", placeholder:"Describe report"}   %>
      <%= form.submit 'Submit', {class:"btn btn-primary"}  %>

    <% end %>
  </div>
</div>