<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <%= render "partials/header" %>
=======

    <%= render 'pages/header' %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

>>>>>>> 8a0a93e9914ed81542307bf7b807494eeee9c945
=======
    <%= render "partials/header" %>
    
>>>>>>> 21d0dd318cbc576930cdfea2c0d2889db89181dd
    <%= yield %>
    <%= render "partials/footer" %>
  </body>
</html>
